#CrownApp
  .search-lists
    display: flex
    flex-direction: column
    overflow: auto
    margin: 0 0 12px
    padding: 0
    max-height: 441px

  .item
    display: flex
    flex-shrink: 0
    align-items: center
    height: 49px
    text-align: left

    &.active
      background: #6cca7e
      color: #fff

      .key-enter
        display: block

    .icon
      flex-shrink: 0
      width: 49px
      height: 49px

      &.no-icon
        background: url('../../assets/no-icon.svg') center / 34px no-repeat

      &.tab
        background: url('../../assets/tab.svg') center / 34px no-repeat

      &.bookmark
        background: url('../../assets/bookmark.svg') center / 34px no-repeat

      &.keyword
        background: url('../../assets/keyword.svg') center / 34px no-repeat

      &.recentlyClosed
        background: url('../../assets/close.svg') center / 34px no-repeat

    .key-enter
      display: none
      flex-shrink: 0
      width: 49px
      height: 49px
      background: url('../../assets/enter.svg') center / 20px no-repeat

    .text-box
      display: flex
      flex: 1
      flex-direction: column
      justify-content: center
      overflow: hidden

    .title, .subtitle
      overflow: hidden
      margin: 0
      text-overflow: ellipsis
      white-space: nowrap
      font-weight: 100

      em
        color: #eb532a !important

    .title
      font-size: 23px
      line-height: 25px

    .subtitle
      font-size: 14px
      line-height: 16px
