@import '../scss/calc.scss';
$designWidth: 700;
// @import '../scss/common.scss';
#CrownApp {
  display: flex;
  font-family: Helvetica, Arial, sans-serif;
  flex-direction: column;
  padding: 0 11px;
  background: #fff;
  * {
    font-family: Helvetica, Arial, sans-serif;
  }
  ::-webkit-scrollbar {
    width: 2px;
    background-color: #fff;
  }
  ::-webkit-scrollbar-track-piece {
    background-color: #fff;
    border-radius: 1px;
  }
  :-webkit-scrollbar-button:start:decrement,
  ::-webkit-scrollbar-button:end:increment {
    display: block;
    background-color: #fff;
  }
  ::-webkit-scrollbar-thumb:vertical {
    height: 86px;
    width: 2px;
    background: #ec5b2f;
    border-radius: 1px;
  }
  .header-search {
    display: flex;
    height: 75px;
    align-items: center;
  }
  .logo-crown {
    width: 49px;
    height: 45px;
    background: url('../assets/crown.svg') center/34px no-repeat;
  }
  .input-crown {
    height: 45px;
    flex: 1;
    border: none;
    outline: none;
    padding: 0;
    font-size: 33px;
    font-weight: 100;
  }
}
