// overlay injected stylesheet's influence in options page
input[type='text']
  border-color: transparent;

  &:focus
    border-color: transparent !important;

.application--wrap
  min-height: unset;