// @import '../scss/common.scss';
.content-container {
  display: flex;
  min-width: 610px;
  height: 400px;
  color: #82919d;
  flex-direction: column;
}

.has-padding {
  padding: 12px 17px;
}

.text-active {
  color: #fff;
}

.nav {
  height: 63px;
  background: #3d454c;
  padding: 0 7px;
  flex-shrink: 0;
}

.versions {
  line-height: 17px;
  margin: 12px 0 8px 17px;
}

.versions-num {
  color: #E4EBF0;
  margin-left: 5px;
}

.tabs {
  display: flex;
  height: 26px;
}

.tab-item {
  position: relative;
  cursor: pointer;
  padding: 0 17px;
  &.is-active {
    color: #fff;
    &::after {
      display: block;
      position: absolute;
      bottom: 0;
      left: 50%;
      content: '';
      width: 0;
      height: 0;
      margin-left: -8px;
      border-bottom: 8px solid #30373d;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
    }
  }
}

.content {
  background: #30373d;
  flex: 1;
  overflow: auto;
}
