.form-setting {
  display: flex;
  .form-content {
    flex: 1;
  }
  .special-text {
    color: #fff;
    padding: 0 5px;
  }
  p {
    margin: 0;
  }
}

.left-nav {
  display: flex;
  flex-direction: column;
  width: 90px;
  padding: 0;
  list-style: none;
  font-size: 14px;
  margin: 0;
  line-height: 30px;
}

.row-container {
  padding-bottom: 10px;
  &+.row-container {
    border-top: 1px solid #fff;
  }
}

.anchor {
  color: #fff;
  line-height: 30px;
  margin: 0;
  font-size: 16px;
}

.row {
  display: flex;
  line-height: 25px;
  align-items: center;
  padding-left: 6px;
  .checkbox-select {
    margin-right: 9px;
  }
  .input-modify {
    height: 24px;
    width: 70px;
    text-indent: 0.5em;
    margin-left: 9px;
  }
}
