.form-setting
  display: flex

  .form-content
    flex: 1

  .special-text
    padding: 0 5px
    color: #fff

  p
    margin: 0

.left-nav
  display: flex
  flex-direction: column
  margin: 0
  padding: 0
  width: 90px
  list-style: none
  font-size: 14px
  line-height: 30px

.row-container
  padding-bottom: 10px

  &+.row-container
    border-top: 1px solid #fff

.anchor
  margin: 0
  color: #fff
  font-size: 16px
  line-height: 30px

.row
  display: flex
  align-items: center
  padding-left: 6px
  line-height: 25px

  .checkbox-select
    margin-right: 9px

  .input-modify
    margin-right: 9px
    width: 48px
    height: 24px
    text-indent: .5em
