.checkbox-select {
  display: inline-block;
  cursor: pointer;
  .invisible {
    display: none;
  }
  .checkbox-main {
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    border: 2px solid #c8ccd4;
    box-sizing: border-box;
    float: left;
    svg {
      position: absolute;
      top: -2px;
      left: -2px;
      path {
        fill: none;
        stroke: #20c2e0;
        stroke-width: 2;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-dasharray: 71px;
        stroke-dashoffset: 71px;
        transition: all 0.6s ease;
      }
      polyline {
        fill: none;
        stroke: #fff;
        stroke-width: 2;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-dasharray: 18px;
        stroke-dashoffset: 18px;
        transition: all 0.3s ease;
      }
    }
  }
  input:checked {
    & + .checkbox-main {
      border-color: #20c2e0;
      svg {
        path {
          fill: #20c2e0;
        }
        polyline {
          stroke-dashoffset: 0;
        }
      }
    }
  }
  &:hover .checkbox-main svg path {
    stroke-dashoffset: 0;
  }
}
