#CrownExtensionWrapper
  position: fixed;
  top: 10%;
  bottom: 10%;
  left: 50%;
  z-index: 2147483647;
  display: none;
  transform: translateX(-50%);

  #CrownExtensionIframe
    overflow: hidden;
    width: 666px;
    height: 100%;
    border: none;
