#CrownExtensionWrapper
  position: fixed;
  top: 20%;
  bottom: 10%;
  left: 50%;
  z-index: 2147483647;
  display: none;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
  transform: translateX(-50%);

  #CrownExtensionIframe
    overflow: hidden;
    width: 666px;
    height: 100%;
    border: none;
