// overlay injected stylesheet's influence in options page
html
  overflow-y: auto;
  background: #fafafa;

input[type='text']
  border-color: transparent;

  &:focus
    border-color: transparent !important;

.application--wrap
  box-shadow: unset;