.crown-mask
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0
  z-index: 10000
  background: rgba(#000, .6)

  .crown-container
    position: absolute
    top: 20%
    left: 50%
    margin-left: -350px
    width: 700px
    height: 520px
