.crown-mask {
  bottom: 0;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10000;
  background: rgba($color: #000000, $alpha: 0.6);
  .crown-container {
    position: absolute;
    top: 20%;
    left: 50%;
    width: 700px;
    height: 520px;
    margin-left: -350px;
  }
}
