* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.oneText {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
a:link,
a:visited {
	color: #262626;
	text-decoration: none;
}
a:hover,
a:active {
	color: #262626;
	text-decoration: none;
}

::-webkit-scrollbar {
	width: 8px;
	height: 10px;
	background-color: #fff;
}
::-webkit-scrollbar-track-piece {
	background-color: #cacfde;
	-webkit-border-radius: 4px;
}

:-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
	height: 30px;
	display: block;
	background-color: #faa;
}
::-webkit-scrollbar-thumb:vertical {
	height: 50px;
	background: -webkit-gradient(linear, right top, left top, color-stop(0, #f7f8ff), color-stop(1, #fff));
	border: 1px solid #cacfde;
	-webkit-border-radius: 5px;
}
#searchInput::-webkit-input-placeholder {
	color: rgba(38, 38, 38, 0.6);
}

body {
	background: #f5f5f5;
	font-size: 14px;
	.app {
		width: 300px;
		color: #262626;
	}
}

header {
	display: flex;
	align-items: center;
	padding: 10px;
	height: 54px;
	overflow: hidden;
	background: #f5f5f5;
	position: fixed;
	top: 0;
	.icon {
		display: block;
		width: 25px;
		height: 25px;
		background-image: url('./assets/crown.svg');
		background-size: 100%;
		margin-right: 10px;
		.none {
			background-image: url('./assets/icons/icon-no.png');
		}
	}
	.search-box {
		width: 245px;
		height: 30px;
		display: flex;
		align-items: center;
		background: #fff;
		border-radius: 2px;
		box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);
		.tag {
			display: block;
			width: 30px;
			height: 16px;
			line-height: 16px;
			color: #262626;
			font-weight: bold;
			text-align: center;
			border-right: 1px solid #d4d4dc;
			cursor: pointer;
		}
		#searchInput {
			border: none;
			outline: none;
			width: 214px;
			height: 28px;
			padding: 0 5px;
			line-height: 28px;
			font-size: 16px;
		}
	}
}

.container {
	max-height: 486px;
	width: 100%;
	overflow-x: auto;
	margin-top: 54px;
}
.item {
	display: flex;
	align-items: center;
	padding: 10px 5px 8px;
	border-top: 1px solid #d4d4dc;
	cursor: pointer;
	height: 54px;
	&.active {
		background: #dcdcdc;
		font-weight: bold;
	}
}
.url-icon {
	width: 20px;
	height: 20px;
	margin: 0 12.5px 0 7.5px;
}
.content {
	width: 242px;
	.title {
		line-height: 20px;
	}
	.url {
		line-height: 15px;
		font-size: 12px;
		color: #3f3f3f !important;
	}
}
